<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>demo 页面</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <!-- <link rel="apple-touch-icon" href="icon.png"> -->
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" type="text/css" href="/static/lib/normalize.css">
  <link rel="stylesheet" type="text/css" href="/static/lib/main.css">
  <link rel="stylesheet" type="text/css" href="/static/iconfont/iconfont.css">
  <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">

</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->

  <div class="main-wrap">
    <div style="margin: 0 auto; text-align:center; padding-top: 16px ">
      <a href="/">返回首页</a>
      <h2>淘宝字体图标</h2>
    </div>

    <div class="d-iconfont clearfix">
      <ul>
        <li>
          <i class="icon iconfont icon-tiaoshi"></i>
          <div class="name">调试</div>
        </li>
        <li>
          <i class="icon iconfont icon-changjingguanli"></i>
          <div class="name">场景管理</div>
        </li>
        <li>
          <i class="icon iconfont icon-fenxiangfangshi"></i>
                    <div class="name">分享方式</div>
        </li>
        <li>
          <i class="icon iconfont icon-bianji"></i>
          <div class="name">编辑</div>
        </li>
        <li>
          <i class="icon iconfont icon-guanlianshebei"></i>
          <div class="name">关联设备</div>
        </li>
        <li>
          <i class="icon iconfont icon-guanfangbanben"></i>
          <div class="name">官方版本</div>
        </li>
        <li>  
          <i class="icon iconfont icon-gongnengdingyi"></i>
          <div class="name">功能定义</div>
        </li>
        <li>
          <i class="icon iconfont icon-jichuguanli"></i>
              <div class="name">基础管理</div>
        </li>
      
          <li>
          <i class="icon iconfont icon-jishufuwu"></i>
              <div class="name">技术服务</div>
          </li>
      
          <li>
          <i class="icon iconfont icon-jiedianguanli"></i>
              <div class="name">节点管理</div>
          </li>
      
          <li>
          <i class="icon iconfont icon-jinggao"></i>
              <div class="name">警告</div>
          </li>
      
          <li>
            <i class="icon iconfont icon-peiwangyindao"></i>
            <div class="name">配网引导</div>
              
          </li>
      
          <li>
            <i class="icon iconfont icon-renjijiaohu"></i>
            <div class="name">人机交互</div>
          </li>
      
          <li>
            <i class="icon iconfont icon-shiyongwendang"></i>
            <div class="name">使用文档</div>
              
          </li>
      
          <li>
            <i class="icon iconfont icon-shebeikaifa"></i>
            <div class="name">设备开发</div>
          </li>
      
          <li>
            <i class="icon iconfont icon-quanxianshenpi"></i>
            <div class="name">权限审批</div>
          </li>
      
          <li>
            <i class="icon iconfont icon-yishouquan"></i>
            <div class="name">已授权</div>
          </li>
      
          <li>
            <i class="icon iconfont icon-tianshenpi"></i>
            <div class="name">提案审批</div>
          </li>
      
          <li>
            <i class="icon iconfont icon-shujukanban"></i>
            <div class="name">数据看板</div>
          </li>
      
          <li>
            <i class="icon iconfont icon-yingyongguanli"></i>
            <div class="name">应用管理</div>
          </li>
      </ul>
    </div>
  
  </div>

  <div class="d-container d-w-color">
      <!-- 引用模板 -->
      <!-- @@include('header.html', {
        "title": "indexPage"
      }) -->

  </div>

<script src="/static/lib/modernizr-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
<script src="/static/lib/plugins.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

<script src="/static/lib/lodash.js"></script>

<script>
  $(function(){})
</script>
</body>
</html>
